<!DOCTYPE html>
<html lang="en">

{% block title %} Chris's Custom Designs {% endblock %}

{% block body %}

<body>
    <section>
    <div class="container">
            <h4>Please fill out the form below to create a new warehouse location.</h4>

            <form action="commit_warehouse" method="POST">
             <br>
             List of warehouses
             <select name='location'>
            {% for item in warehouse_table %}
            <option value="{{item.name}}" SELECTED> {{ item.name }}</option>
            {% endfor %}
          </select>
          </section>
          <br>
          <br>
          Add a new warehouse
          <input type="text" name="product-code">
          <br>
            <br>
    <h4>Once you have inputted a new warehouse location, please hit the submit button.</h4>

    <p><input type="submit" value="Submit"></p>
  </form>
  </div>
</body>
{% endblock %}
